.panda-bg-info{
    background-color:#feeae9 ;
}
.categories img{
    width:100px;
}
.panda-btn-buynow{
    background-image: linear-gradient(rgb(255, 88, 155) 0%, rgb(255, 75, 146) 100%);

     color: white;
     border-radius:8px;
     padding:9px 25px;
     border-style: none;
    
 }